@import './theme/blue.scss';

$headerHeight: 60px;
$sidebarW: 220px;

* {
  padding: 0;
  margin: 0;
}
.icon-svg{
  width: 14px;
  height:14px;
}

.app-body .el-header {
  height: $headerHeight !important;
  padding: 0;
  .navbar {
    height: $headerHeight;
    line-height: $headerHeight;
  }
  .logo{
    width: $sidebarW;
    text-align: center;
  }
}

.app-layout{
  height: calc(100vh - 60px);
  .el-menu{
    height: 100%;
  }
  .el-menu-item, .el-submenu__title{
    color: #000;
    font-weight: bold;
  }
}

.card-title{
  margin-bottom: 15px;
}

.red-text-btn{
  color: #fa0a00
}
